


<div class="container-fluid">
  <div class="row">
    <div class="col-lg-3 bg-dark sidenav " >
      <div class="cont">
        <hr>
        <h3>Welcome Rawand !</h3>
        <hr>
        <button type="button" class="btn link btn-info">Home</button><br>
        <button type="button" class="btn link  btn-info">compte</button><br>
        <button type="button" class="btn link  btn-info">Messages</button><br>
        <button type="button" class="btn link btn-info">Contact</button><br>
      </div>
    </div>
  
  
  

    <div class="col-lg-9 content">
      <div class="container-fluid">
            <nav class="navbar navbar-expand-lg navbar-dark bg-light">
              <a class="navbar-brand" href="#"><i style="color: black;"  class="bi bi-search"></i></a>
              <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav mr-auto">
                 <li>
                  <form class="col-12 col-lg-auto mb-3 mb-lg-0 me-lg-3 nav-item">
                    <input class="form-control form-control-dark" placeholder="Search..." type="search"/>
                  </form>
                 </li>
                 
                </ul>
                <div class="text-end">
                  <div class="image">
                    <img  src="../../assets/img/user.jpg" class="rounded" alt="...">
                  </div>
                </div>
              </div>
            </nav>
            
      



        <div class="row row1">
          <div class="col-md-4"><div class="card cd text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div class="top">
              <h5 class="card-title">Tasks to do</h5>
              <i class=" icon bi bi-list-task"></i>
            </div>
            <div class="nb"><h1>3</h1></div>
            </div>
          </div></div>
          <div class="col-md-4"><div class="card cd text-white bg-info mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div class="top">
              <h5 class="card-title">Tasks done </h5>
              <i class="icon bi bi-list-check"></i>
            </div>
            <div class="nb"><h1>17</h1></div>
            </div>
          </div></div>
          <div class="col-md-4"><div class="card cd bg-light mb-3" style="max-width: 18rem;">
            <div class="card-body">
              <div class="top">
              <h5 class="card-title">Certifications</h5>
              <i class="icon bi bi-bar-chart-line"></i>
            </div>
            <div class="nb"><h1>11</h1></div>
            </div>
          </div></div>

        </div>

        <div class="row">
          <div class="col">
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

              <!--- Note that these columns can be defined in any order.
                    The actual rendered columns are set as a property on the row definition" -->
            
              <!-- Position Column -->
              <ng-container matColumnDef="course">
                <th mat-header-cell *matHeaderCellDef> course </th>
                <td mat-cell *matCellDef="let element"> {{element.course}} </td>
              </ng-container>
            
              <!-- Name Column -->
              <ng-container matColumnDef="subscribtion">
                <th mat-header-cell *matHeaderCellDef> subcribtion </th>
                <td mat-cell *matCellDef="let element"> {{element.subscribtion}} </td>
              </ng-container>
            
              <!-- Weight Column -->
              <ng-container matColumnDef="progress">
                <th style="width: 40%;" mat-header-cell *matHeaderCellDef> progress</th>
                <td style="width: 40%;" mat-cell *matCellDef="let element">
                  <div class="progress">
                    <div class="progress-bar w-{{element.progress}}" role="progressbar"  aria-valuemin="0" aria-valuemax="100"></div>
                  </div>
                  </td>
              </ng-container>
            
              <!-- Symbol Column -->
              <ng-container matColumnDef="certificate">
                <th mat-header-cell *matHeaderCellDef> certificate </th>
                <td mat-cell *matCellDef="let element"> {{element.certificate}} </td>
              </ng-container>
            
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
          </div>
        </div>

      </div>
    </div>
  </div>
</div>